@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  body
  {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  @media (max-width:1000px) {
   
    html
    {
      font-size: 13px;
    }
  }
}

@layer components {

  .partner img{
    filter: grayscale(1);
    opacity: .5;
  }

  .partner:hover img{
    filter: grayscale(0);
    opacity: 1;
  }

  .partner h6 {
    opacity: 0;
  }

  .partner:hover h6{
    opacity: 1;
  }

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  @media (max-width:1000px) 
  {
   
    .partner img
    {
      filter: unset;
      opacity: 1;
    }
  }
  
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
