@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

 /*App Loading*/


 #loading.closing .loading-door:nth-child(1)
 { 
   transform: translate3d(-100%,0px,0px);
   transition: all .5s ease-in-out;
 }
 #loading.closing .loading-door:nth-child(2)
 {
   transform: translate3d(100%,0px,0px);
   transition: all .5s ease-in-out;
 }

 #loading.closing svg
 {
   opacity: 0;
   transition: opaciy .5s ease-in;
 }
/*Loading Logo Animate*/
.sigma-one-1.loading-close{
  fill: url(#one-close-1);
}
.sigma-one-2.loading-close{
  fill: url(#one-close-2);
}
.sigma-one-3.loading-close{
  fill: url(#one-close-3);
}
.sigma-seven-1.loading-close{
  fill: url(#seven-close-1);
}
.sigma-seven-2.loading-close{
  fill: url(#seven-close-2);
}
.sigma-seven-3.loading-close{
  fill: url(#seven-close-3);
}
.sigma-six-1.loading-close{
  fill: url(#six-close-1);
}
.sigma-six-2.loading-close{
  fill: url(#six-close-2);
}
.sigma-one-1.loading-open{
  fill: url(#one-open-1);
}
.sigma-one-2.loading-open{
  fill: url(#one-open-2);
}
.sigma-one-3.loading-open{
  fill: url(#one-open-3);
}
.sigma-seven-1.loading-open{
  fill: url(#seven-open-1);
}
.sigma-seven-2.loading-open{
  fill: url(#seven-open-2);
}
.sigma-seven-3.loading-open{
  fill: url(#seven-open-3);
}
.sigma-six-1.loading-open{
  fill: url(#six-open-1);
}
.sigma-six-2.loading-open{
  fill: url(#six-open-2);
}

.loading-logo-animate{
  max-width: 100%;
  width: 232px;
}

.loading-logo-animate svg{
  max-width: 100%;
}

  .animate-on-scroll
  {
    opacity: 0;
    transform: translate3d(0px,100px,0px);
  }

  .animate-on-scroll.active-scroll
  {
    opacity: 1;
    transform: translate3d(0px,0px,0px);
    transition-duration: .7s;
    transition-timing-function: ease;
    transition-property: opacity,transform;
  }

  .animate-delay-200
  {
    transition-delay: .2s;
  }

  .animate-delay-300
  {
    transition-delay: .3s;
  }

  .animate-delay-400
  {
    transition-delay: .4s;
  }  

  .animate-delay-500
  {
    transition-delay: .5s;
  }
  .animate-delay-600
  {
    transition-delay: .6s;
  } 


  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  body
  {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  @media (max-width:1000px) {
   
    html
    {
      font-size: 13px;
    }
  }
}

@layer components {





  .partner img{
    filter: grayscale(1) brightness(10);
    -webkit-filter: grayscale(1) brightness(10);
    opacity: .5;
  }

  .partner:hover img{
    filter: grayscale(0);
    opacity: 1;
  }

  .partner h6 {
    opacity: 0;
  }

  .partner:hover h6{
    opacity: 1;
  }

  .ball-scale-ripple-multiple>div:nth-child(1) {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s;
}

.ball-scale-ripple-multiple>div:nth-child(2) {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s;
}
.ball-scale-ripple-multiple>div:nth-child(3) {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s;
}
.ball-scale-ripple-multiple>div {
    position: absolute;
    top: -2px;
    left: -26px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21,.53,.56,.8);
    animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21,.53,.56,.8);
}

@-webkit-keyframes ball-scale-ripple-multiple{
    0%{
        -webkit-transform:scale(.1);
        transform:scale(.1);
        opacity:1
    }
    70%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:.7
    }
    100%{
        opacity:0
    }
}

@keyframes ball-scale-ripple-multiple{
    0%{
        -webkit-transform:scale(.1);
        transform:scale(.1);
        opacity:1
    }
    70%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:.7
    }
    100%{
        opacity:0
    }
}


  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  @media (max-width:1000px) 
  {
   
    .partner img
    {
      filter: unset;
      opacity: 1;
    }
  }
  

}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
